body {
  font-family: Helvetica;
}

.container {
  display: flex;
  height: 100vh;
  background-color: #F6F6F6; /* Light gray color */
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.left-half {
  flex: 1;
  background-color: #F6F6F6; /* Light gray color */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.left-half img {
  max-width: 100%;
  max-height: 100%;
}

.index-text {
  color: #777777;
  text-align: center;
}

.right-half {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F6F6F6; /* Light gray color */
}

.top-right,
.bottom-right {
  margin-bottom: 20px;
  color: #777777; /* Light gray color */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="password"],
input[type="submit"] {
  background-color: white;
  color: #777777; /* Light gray color */
  border: 1px solid #CCCCCC;
  padding: 10px 15px;
  border-radius: 4px;
  font-size: 14px;
  width: 200px;
  margin-bottom: 10px;
}

input[type="submit"] {
  cursor: pointer;
}

input[type="text"]:focus,
input[type="password"]:focus {
  outline: none;
  border-color: #B3B3B3;
}

#error-message {
  display: none;
  position: fixed;
  top: 100px;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid #777777;
  background-color: #F6F6F6;
  font-weight: bold;
  font-size: 30px;
  color: #777777;
  padding: 10px;
  border-radius: 5px;
  z-index: 9999;
}
