.container {
  display: flex;
  height: 100vh;
  background-color: #F6F6F6; /* Light gray color */
}

.left-half {
  flex: 1;
  background-color: #F6F6F6; /* Light gray color */
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-half img {
  max-width: 100%;
  max-height: 100%;
}

.right-half {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F6F6F6; /* Light gray color */
}

.top-right,
.bottom-right {
  margin-bottom: 20px;
  color: #777777; /* Light gray color */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; /* Align text in the center */
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  margin-bottom: 5px;
  font-weight: bold; /* Make the label text bold */
}

input[type="text"],
input[type="password"],
input[type="submit"] {
  background-color: white;
  color: #777777; /* Light gray color */
  border: 1px solid #CCCCCC; /* Light gray border */
  padding: 10px 15px;
  border-radius: 4px;
  font-size: 14px;
  width: 200px;
  margin-bottom: 10px;
}

input[type="submit"] {
  cursor: pointer;
}

input[type="text"]:focus,
input[type="password"]:focus {
  outline: none;
  border-color: #B3B3B3; /* Light gray border when focused */
}
