.container {
  display: flex;
  height: 100vh;
  background-color: rgba(220, 255, 220, 0.3); /* Very light shaded green */
}

.left-half {
  flex: 1;
  background-color: lightgray;
}

.right-half {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(220, 255, 220, 0.3); /* Very light shaded green */
}

.top-right,
.bottom-right {
  margin-bottom: 20px;
  color: gray; /* Light gray color */
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  margin-bottom: 5px;
}

input[type="text"],
input[type="password"],
input[type="submit"] {
  background-color: white;
  color: gray; /* Light gray color */
  border: 1px solid gray; /* Add a border */
  padding: 10px 15px; /* Add some padding */
  border-radius: 4px; /* Add border radius for rounded corners */
  font-size: 14px; /* Adjust font size */
  width: 200px; /* Adjust width */
  margin-bottom: 10px; /* Add some vertical spacing */
}

input[type="submit"] {
  cursor: pointer; /* Show pointer cursor on submit button */
}

input[type="text"]:focus,
input[type="password"]:focus {
  outline: none; /* Remove focus outline */
  border-color: lightgreen; /* Change border color when focused */
}
