<!DOCTYPE html>
<html>
<head>
   <title>Add Income</title>
   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='add_income.css') }}">
   <script src="{{ url_for('static', filename='js/validation.js') }}"></script>
</head>
<body>
    <div class="homepage-header">
        <img src="{{ url_for('static', filename='logo.png') }}" alt="Budget Overview" style="width: 170px; height: 100px;">
    </div>
    
   <div class="header-buttons">
      <button class="snake-effect" title="Homepage" onclick="location.href='/homepage'">
         <div class="button-content">
             <img src="{{ url_for('static', filename='homepage.png') }}" alt="Homepage">
             <span class="button-text">Homepage</span>
         </div>
     </button>
      <button class="snake-effect" title="Add Expense" onclick="location.href='/add_expense'">
          <div class="button-content">
              <img src="{{ url_for('static', filename='add_expense.png') }}" alt="Add Expense">
              <span class="button-text">Add Expense</span>
          </div>
      </button>
      <button class="snake-effect" title="Transactions" onclick="location.href='/my_table'">
          <div class="button-content">
              <img src="{{ url_for('static', filename='transactions.png') }}" alt="Transactions">
              <span class="button-text">My Table</span>
          </div>
      </button>
      <div class="logout-button">
          <button class="snake-effect" title="Logout" onclick="location.href='/'">
              <div class="button-content">
                  <img src="{{ url_for('static', filename='logout.png') }}" alt="Logout">
                  <span class="button-text">Logout</span>
              </div>
          </button>
      </div>
  </div>

   <h1 class="title">Add Income</h1>
   
   <form action="/add_income" method="POST">
       <label for="username">Username:</label>
       <input type="text" name="username" value="{{ username }}" readonly>
       <br>
       <label for="amount">Income Amount:</label>
       <input type="text" id="amount" name="amount" required oninput="validateFloat(event)">
       <br>
       <label for="category">Income Category:</label>
       <input type="text" id="category" name="category" required>
       <br>
       <label for="description">Income Description:</label>
       <textarea id="description" name="description" rows="5" cols="50" required></textarea>
       <br>
       <label for="date">Income Date:</label>
       <input type="date" id="date" name="date" required>
       <br>
       <input type="submit" value="Save income">
   </form>
   
</body>
</html>
