<!DOCTYPE html>
<html>
<head>
   <title>Registration</title>
   <!-- Add the following line to link the CSS file -->
   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='registration.css') }}">
</head>
<body>
   <h1>Registration</h1>
   
   <form action="/register" method="POST">
       <label for="username">Username:</label>
       <input type="text" id="username" name="username" required>
       <br>
       <label for="password">Password:</label>
       <input type="password" id="password" name="password" required>
       <br>
       <input type="submit" value="Register">
   </form>
   
</body>
</html>
